.Index-page-content {
  max-width: 1180px !important;
  padding-top: 20px;
  padding-bottom: 0px;
}
.sqs-block-html, .sqs-block-code, .sqs-block-form {
  width: unset !important;
}

////////////////////////////////////////
// Padding
////////////////////////////////////////
.sqs-block.sqs-block-markdown {
  padding-bottom: 0px;
}

////////////////////////////////////////
// Accordion Dropdowns
////////////////////////////////////////
.dropdown, .dropdown-lookalike {
  border-bottom: 1px #ddd solid;
  
  h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.dropdown {
  cursor: pointer;
}
.dropdown-lookalike {
  margin-top: 25px;
}
.dropdown--arrow {
  float: right;
  margin-top: 12px;
}
.dropdown--arrow__up {
  display: none;
}
.dropdown-arrow--initiallyopen .dropdown-arrow {
  display: unset;
}
.dropdown-arrow--initiallyopen .dropdown--arrow__down {
  display: none;
}
.dropdown-arrow--initiallyopen .dropdown--arrow__up {
  display: unset;
}
  
////////////////////////////////////////
// Banner Thumbnmail
////////////////////////////////////////
.banner-thumbnail-wrapper a {
  background-color: transparent !important;
  border: solid 2px white !important;
  border-radius: 4px !important;
  font-size: 15px !important;
}
.banner-thumbnail-wrapper p {
  font-size: 18px !important;
}
.banner-thumbnail-wrapper a:hover {
  background-color: white !important;
  color: #000000 !important;
}
@media screen and (max-width: 640px) {
  .banner-thumbnail-wrapper .desc-wrapper img {
    max-width: 100%;
    height: auto;
  }
}

////////////////////////////////////////
// Social Media Buttons
////////////////////////////////////////
.Footer-middle .sqs-svg-icon--list {
  position: fixed;
  bottom: 15vh;
  left: 0px;
  width: 40px;
  background-color: #fff;
  border: 2px solid #eee;
  margin-left: -2px;
  padding: 5px 6px 0px 1px;
  border-radius: 10px;
  z-index: 1000;
}
@media screen and (max-width: 640px) {
  .Footer-middle .sqs-svg-icon--list {
    width: unset;
    top: unset;
    left: unset;
    padding: 5px 2px 0px 2px;
    right: 5px;
    bottom: 5px;
  }
}

////////////////////////////////////////
// Comm100 Chat Button
////////////////////////////////////////
@media screen and (max-width: 640px) {
  #comm100-button-1a39c0b0-eeca-4162-9b46-c021177a67db iframe {
    z-index: -1 !important;
  }
  .comm100-chat-button {
    margin-left: 0px !important;
  }
}
@media screen and (min-width: 640px) {
  .comm100-chat-button {
    display: none;
  }
}
.comm100-chat-button {
  background: #aaa !important;
}
